### Importing modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import os

### Reading dataset

In [6]:
os.listdir('dataset')

['dataset_']

In [7]:
DATASET_DIR='dataset/'
DATASET_FILENAME='dataset_'

In [20]:
data_flag=False
data=[]
features=[]
with open(DATASET_DIR+DATASET_FILENAME) as f:
    all_lines=f.readlines()
    for line in all_lines:
        if '@ATTRIBUTE' in line:
            _,feature_name,_=line.split(' ')
            features.append(feature_name)
        if data_flag:
            line=line.replace("\n",'')
            data.append(line.split(','))
        if '@DATA' in line:
            data_flag=True

In [22]:
df_data=pd.DataFrame(data=data,columns=features)

In [24]:
df_data.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.1,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [25]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  object
 1   person_income               32581 non-null  object
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           32581 non-null  object
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  object
 7   loan_int_rate               32581 non-null  object
 8   loan_status                 32581 non-null  object
 9   loan_percent_income         32581 non-null  object
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  object
dtypes: object(12)
memory usage: 3.0+ MB

In [26]:
df_data.describe()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
count,32581,32581,32581,32581,32581,32581,32581,32581,32581,32581,32581,32581
unique,58,4295,4,37,6,7,753,349,2,77,2,29
top,23,60000,RENT,0.0,EDUCATION,A,10000,?,0,0.1,N,2
freq,3889,1046,16446,4105,6453,10777,2664,3116,25473,1533,26836,5965

#### Writing dataset back to excel

In [27]:
df_data.to_excel(DATASET_DIR+'Credit_Risk_Prediction_Dataset.xlsx')